.P-edit-tool{
  width: 100%;
  max-width: 350px;
  height: 100vh;
  background-color: #c9c2c2;
  padding: 20px;
}

.P-edit-box{
  margin: auto;
  text-align: center;
  width: 800px;
  height: 400px;
  padding: 40px;
}